<html>

<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<form action= "{{url_for('editMenu', restaurant_id=restaurant_id, menu_id=menu.id)}}" method = 'POST'>

			<h2>New Name:</h2>
			<input type = 'text' size='30' name = 'name' placeholder = '{{menu.name}}'>
			<input type='submit' value='Edit'>
		</form>
		
		<a href= '{{url_for('restaurantMenu', restaurant_id=menu.restaurant_id)}}'>Cancel</a>
	</div>
</body>
</html>